{% extends 'chat/base.html' %}

{% block content %}
    <h3>You: {{me.username}}</h3>
    <h3>Thread: {{user.username}}</h3>
    <ul id="message-list">
        {% for message in messages %}
        <li>[{{message.sender.username}}]: {{message.text}}</li>
        {% endfor %}
    </ul>
    <form id="message-form">
        {% csrf_token %}
        <input type="text" name="message" id="message" required>
        <input type="submit" value="Send" class="btn">
    </form>
{% endblock content %}

{% block custom_javascript %}
<script>
    let url = 'ws://localhost:8000/ws' + window.location.pathname;
    const parts = window.location.href.split('?')
    if (parts.length == 2) {
        url += '?' + parts[1];
    }

    const ws = new WebSocket(url)
    ws.onopen = function(event) {
        console.log("Connection is opened");
    }

    ws.onmessage = function(event) {
        console.log(event);
        console.log("Message is received");
        const ul = document.getElementById('message-list')
        var li = document.createElement('li')
        var data = JSON.parse(event.data);
        li.append(document.createTextNode(
            '[' + data.username + ']:' + data.text
        ))
        ul.append(li);
    }

    ws.onclose = function(event) {
        console.log("Connection is closed");
    }

    ws.onerror = function(event) {
        console.log("Something went wrong");
    }

    const messageForm = document.getElementById('message-form')
    messageForm.addEventListener('submit', sendMessage)
    function sendMessage(e) {
        if (e.preventDefault) e.preventDefault();
        ws.send(document.getElementById('message').value);
        messageForm.reset()
        return false;
    }
</script>
{% endblock custom_javascript %}
